* {
  @apply outline-none
}

html,
body {
  height: 100%;
  text-rendering: optimizeSpeed;
}

body {
  font-family: $font;
  @apply text-black text-base;
}

.render {
  @apply h-full w-full top-0 left-0 right-0 bottom-0 fixed bg-white z-[999999]
}

main {
  &:before {
    @apply content-[''] fixed lg:w-[calc(100%-200px)] xl:w-[calc(100%-300px)] bg-white pl-[355px] lg:ml-[100px] xl:ml-[150px] top-0 h-[112px] z-20
  }
  @apply relative lg:px-[100px] xl:px-[150px] w-full h-full
}

.content {
  @apply lg:ml-[455px] xl:ml-[605px] lg:w-[calc(100%-455px)] xl:w-[calc(100%-605px)] pt-[112px] overflow-hidden
}

.barba {
  @apply w-full h-full
}

.wrapper {
  @apply lg:pl-24 xl:pl-32
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}