html,
body {
  height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

body {
  font-family: $font;
  @apply text-black text-base;
}

.render {
  @apply h-full w-full top-0 left-0 right-0 bottom-0 fixed bg-white z-[999999]
}

main {
  @apply relative lg:px-[100px] xl:px-[150px]
}

.wrapper {
  @apply lg:pl-24 xl:pl-32
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}