* {
  @apply outline-none
}

body {
  font-family: $font, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  @apply text-black text-base min-h-full
}

.render {
  @apply h-full w-full top-0 left-0 right-0 bottom-0 fixed bg-white z-[999999]
}

main {
  &:before {
    @apply hidden lg:block content-[''] fixed lg:w-[calc(100%-200px)] xl:w-[calc(100%-300px)] bg-white pl-[355px] lg:ml-[100px] xl:ml-[150px] top-0 h-[112px] z-[100]
  }
  @apply relative lg:px-[50px] xl:px-[150px] w-full h-full
}

@media(min-width: 1440px) {
  main {
    @apply px-[100px]
  }
}

main[data-barba-namespace="404"] + .hidden__button {
  @apply hidden
}

main[data-barba-namespace="catalog"] .navigation {
  @apply hidden lg:block
}

.hidden__button {
  .callback__counter {
    @apply hidden justify-center py-[5px] absolute min-w-[31px] min-h-[31px] -top-[10px] -right-[11px] text-center bg-black text-white text-sm rounded-full
  }
  @apply lg:hidden md:max-w-[418px] z-50 cursor-pointer tracking-widest uppercase py-[14px] text-center text-white bg-brown-400 rounded w-[calc(100%-32px)] md:w-full duration-300 transition-colors will-change-[background-color] hover:bg-black fixed bottom-10 left-4 right-4 md:right-auto md:left-1/2 md:-translate-x-1/2
}

button {
  font-family: $font, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content {
  @apply lg:ml-[455px] xl:ml-[505px] lg:w-[calc(100%-455px)] xl:w-[calc(100%-505px)] pt-[100px] md:pt-[128px] mx-4 md:mx-8 lg:mx-0 pb-[130px] xl:pb-[134px] lg:pt-[140px] xl:pt-[197px] overflow-hidden
}

.back {
  svg {
    path {
      @apply transition-colors duration-300 will-change-[fill]
    }
  }
  span {
    @apply text-gray-400 text-sm inline-block ml-3 duration-300 will-change-[color] transition-colors
  }
  &:hover {
    svg {
      path {
        @apply fill-brown-400
      }
    }
    span {
      @apply text-brown-400
    }
  }
  @apply flex items-center absolute z-10 top-[132px] left-12
}

.success {
  &.active {
    @apply translate-x-0
  }
  @apply translate-x-[calc(100%+40px)] transition-transform fixed bottom-5 right-5 rounded shadow-md bg-brown-400 py-3 px-8 z-[1000] text-white text-sm uppercase tracking-widest
}

.barba {
  @apply w-full h-full
}

.wrapper {
  @apply lg:pl-24 xl:pl-32
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}