extends ../layouts/master.pug

block title
  title Samba Professional | Каталог

block basicSeo
  meta(name='description' content='Catalog page')
  meta(name='keywords', content='catalog, page')

block manifestBrowserconfigFiles
  link(href='../manifest.json', rel='manifest')
  meta(name='msapplication-config' content='../browserconfig.xml')

block content

  +header('catalog') 

  include ../components/sidebar.pug
  .barba(data-barba="wrapper")
    main(data-barba="container" data-barba-namespace="catalog")
      include ../components/navigation.pug
      +navigation('catalog')
      include ../components/catalog.pug
    button(type="button").callback.hidden__button Оставить заявку
      .callback__counter

