include ../mixins/card.pug
.content
  .catalog__section#coffee  
    h2.catalog__title Кофе
    .catalog__description 
      p Коллекция Samba Office разработана специально для заваривания в кофе-машинах любого типа — как в рожковых, так и в автоматических. Сбалансированный вкус, тщательно выверенная рецептура этих блендов делают их идеальными для приготовления любых напитков — от ристретто до латте и маккиато
    .catalog__cards
      +card('coffee1', '/assets/images/coffee1.png', 'coffee1', 'Espresso & cappuccino №5', '', true)
      +card('coffee2', '/assets/images/coffee2.png', 'coffee2', 'Arabica №7', '', true)
  .catalog__section#equipment
    h2.catalog__title Оборудование
    .catalog__cards
      +card('equipment1', '/assets/images/equipment1.png', 'equipment1', 'Proxima  F11 Big', '', true)
      +card('equipment2', '/assets/images/equipment2.png', 'equipment2', 'Proxima  F12 plus', '', true)
      +card('equipment3', '/assets/images/equipment3.png', 'equipment3', 'Proxima F12 plus', '', true)
      +card('equipment4', '/assets/images/equipment4.png', 'equipment4', 'Холодильник Proxima SC08', '', true)
  .catalog__section#tea
    h2.catalog__title Чай
    .catalog__cards
      +card('tea1', '/assets/images/tea1.png', 'tea1', 'Mediterranean mandarin', 'черный чай, 100 г', false)
      +card('tea2', '/assets/images/tea2.png', 'tea2', 'Pure peppermint leaves', 'зеленый чай, 34 г', false)
      +card('tea3', '/assets/images/tea3.png', 'tea3', 'Dombagastalawa single estate fbop', 'черный чай, 85 г', false)
      +card('tea4', '/assets/images/tea4.png', 'tea4', 'Brilliant breakfast', 'черный чай, 50 шт.', false)
      +card('tea5', '/assets/images/tea5.png', 'tea5', 'Mango & strawberry', 'зеленый чай, 50 шт.', false)
      +card('tea6', '/assets/images/tea6.png', 'tea6', 'Pure chamomile flowers', 'черный чай, 30 шт.', false)
  .catalog__section#accessories
    h2.catalog__title Аксессуары
    .catalog__cards
      +card('accessories7', '/assets/images/accessories7.png', 'accessories7', 'Мерная ложка', '30 мл', false)
      +card('accessories8', '/assets/images/accessories8.png', 'accessories8', 'Одноразовые стаканчики', '300 мл', false)
      +card('accessories9', '/assets/images/accessories9.png', 'accessories9', 'Размешиватель деревянный', '18 см', false)