include ../mixins/card.pug
.content
  .catalog__section#coffee  
    h2.catalog__title Кофе
    .catalog__description 
      p Коллекция Samba Office разработана специально для заваривания в кофе-машинах любого типа — как в рожковых, так и в автоматических. Сбалансированный вкус, тщательно выверенная рецептура этих блендов делают их идеальными для приготовления любых напитков — от ристретто до латте и маккиато
    .catalog__cards
      +card('1', '/assets/images/coffee1.png', 'card', 'Espresso & cappuccino №5', '', true)
      +card('2', '/assets/images/coffee2.png', 'card', 'Arabica №7', '', true)
      +card('3', '/assets/images/coffee3.png', 'card', 'Espresso & cappuccino №1', '', true)
      +card('4', '/assets/images/coffee4.png', 'card', 'Espresso & cappuccino №3', '', true)
  .catalog__section#equipment
    h2.catalog__title Оборудование
    .catalog__cards
      +card('5', '/assets/images/equipment1.png', 'card', 'Proxima  F11 Big', '', true)
      +card('6', '/assets/images/equipment2.png', 'card', 'Proxima  F12 plus', '', true)
      +card('7', '/assets/images/equipment3.png', 'card', 'Proxima F12 plus', '', true)
      +card('8', '/assets/images/equipment4.png', 'card', 'Холодильник Proxima SC08', '', true)
  .catalog__section#tea
    h2.catalog__title  Чай
    .catalog__cards
      +card('9', '/assets/images/tea1.png', 'card', 'Mediterranean mandarin', 'черный чай, 100 г', false)
      +card('10', '/assets/images/tea2.png', 'card', 'Pure peppermint leaves', 'зеленый чай, 34 г', false)
      +card('11', '/assets/images/tea3.png', 'card', 'Dombagastalawa single estate fbop', 'черный чай, 85 г', false)
      +card('12', '/assets/images/tea4.png', 'card', 'Brilliant breakfast', 'черный чай, 50 шт.', false)
      +card('13', '/assets/images/tea5.png', 'card', 'Mango & strawberry', 'зеленый чай, 50 шт.', false)
      +card('14', '/assets/images/tea6.png', 'card', 'Pure chamomile flowers', 'черный чай, 30 шт.', false)
  .catalog__section#accessories
    h2.catalog__title Аксессуары
    .catalog__cards
      +card('15', '/assets/images/accessories1.png', 'card', 'Чашка с блюдцем', 'лайм', false)
      +card('16', '/assets/images/accessories2.png', 'card', 'Чашка с блюдцем', 'вишня', false)
      +card('17', '/assets/images/accessories3.png', 'card', 'Таймер для приготовления чая', '30 мл', false)
      +card('18', '/assets/images/accessories4.png', 'card', 'Заварочный чайник', '', false)
      +card('19', '/assets/images/accessories5.png', 'card', 'Шкатулка бамбуковая для чайных пакетиков', '6 слотов', false)
      +card('20', '/assets/images/accessories6.png', 'card', 'Стакан с двойным стеклом', '230 мл', false)