include ../mixins/card.pug
.content
  .catalog__section#coffee  
    h2.catalog__title Кофе
    .catalog__description 
      p Коллекция Samba Office разработана специально для заваривания в кофе-машинах любого типа — как в рожковых, так и в автоматических. Сбалансированный вкус, тщательно выверенная рецептура этих блендов делают их идеальными для приготовления любых напитков — от ристретто до латте и маккиато
    .catalog__cards
      +card('coffee1', '/assets/images/coffee1.png', 'coffee1', 'Espresso & cappuccino №5', '', true)
      +card('coffee2', '/assets/images/coffee2.png', 'coffee2', 'Arabica №7', '', true)
      +card('coffee3', '/assets/images/coffee3.png', 'coffee3', 'Espresso & cappuccino №1', '', true)
      +card('coffee4', '/assets/images/coffee4.png', 'coffee4', 'Espresso & cappuccino №3', '', true)
  .catalog__section#equipment
    h2.catalog__title Оборудование
    .catalog__cards
      +card('equipment1', '/assets/images/equipment1.png', 'equipment1', 'Proxima  F11 Big', '', true)
      +card('equipment2', '/assets/images/equipment2.png', 'equipment2', 'Proxima  F12 plus', '', true)
      +card('equipment3', '/assets/images/equipment3.png', 'equipment3', 'Proxima F12 plus', '', true)
      +card('equipment4', '/assets/images/equipment4.png', 'equipment4', 'Холодильник Proxima SC08', '', true)
  .catalog__section#tea
    h2.catalog__title  Чай
    .catalog__cards
      +card('tea1', '/assets/images/tea1.png', 'tea1', 'Mediterranean mandarin', 'черный чай, 100 г', false)
      +card('tea2', '/assets/images/tea2.png', 'tea2', 'Pure peppermint leaves', 'зеленый чай, 34 г', false)
      +card('tea3', '/assets/images/tea3.png', 'tea3', 'Dombagastalawa single estate fbop', 'черный чай, 85 г', false)
      +card('tea4', '/assets/images/tea4.png', 'tea4', 'Brilliant breakfast', 'черный чай, 50 шт.', false)
      +card('tea5', '/assets/images/tea5.png', 'tea5', 'Mango & strawberry', 'зеленый чай, 50 шт.', false)
      +card('tea6', '/assets/images/tea6.png', 'tea6', 'Pure chamomile flowers', 'черный чай, 30 шт.', false)
  .catalog__section#accessories
    h2.catalog__title Аксессуары
    .catalog__cards
      +card('accessories1', '/assets/images/accessories1.png', 'accessories1', 'Чашка с блюдцем', 'лайм', false)
      +card('accessories2', '/assets/images/accessories2.png', 'accessories2', 'Чашка с блюдцем', 'вишня', false)
      +card('accessories3', '/assets/images/accessories3.png', 'accessories3', 'Таймер для приготовления чая', '30 мл', false)
      +card('accessories4', '/assets/images/accessories4.png', 'accessories4', 'Заварочный чайник', '', false)
      +card('accessories5', '/assets/images/accessories5.png', 'accessories5', 'Шкатулка бамбуковая для чайных пакетиков', '6 слотов', false)
      +card('accessories6', '/assets/images/accessories6.png', 'accessories6', 'Стакан с двойным стеклом', '230 мл', false)