.sidebar
  a(href="/").sidebar__logo
    img(src="/assets/images/logo.svg", alt="logo")
  .sidebar__social
    a(href="#").sidebar__icon 
      img(src="/assets/images/phone.svg", alt="phone")
    a(href="#").sidebar__icon
      img(src="/assets/images/telegram.svg", alt="telegram")
    a(href="#").sidebar__icon
      img(src="/assets/images/mail.svg", alt="mail")